@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.skip-nav {
	@apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
	scroll-margin-top: 1.125rem;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	padding: 0 !important;
	border: none;
	background-color: transparent !important;
}

pre code {
	@apply !bg-gray-100;
}
