---
import Layout from "../layouts/Layout.astro";
import { Content } from "../content/colophon/colophon.mdx";
---

<Layout title="Colophon – Paul McBride">
  <main
    class="grid grid-cols-main [&>*]:col-start-2 [&>*]:col-end-3 border-gray-200 mx-auto pb-16 px-8"
  >
    <div class="max-w-none md:max-w-content mx-auto w-full">
      <h1
        class="font-bold text-3xl md:text-5xl tracking-tight text-gray-900 font-serif mb-8"
      >
        Colophon
      </h1>
      <p
        class="text-gray-600 mb-8 font-body text-xl leading-relaxed md:text-2xl md:leading-relaxed"
      >
        This page includes a list of the tools and technologies I use to make
        this site. It&apos;s also where I&apos;ll list the sites that inspire
        me.
      </p>
      <div class="w-full prose prose-lg md:prose-xl max-w-none mb-16 font-body">
        <Content />
      </div>
    </div>
  </main>
</Layout>
