---
// import Head from "next/head";
// import { useRouter } from "next/router";
// import { useState, useEffect } from "react";
// import Link from "next/link";
import cn from "classnames";
// import { RSS } from "components/Footer";

// import Footer from "components/Footer";
// import MobileMenu from "components/MobileMenu";

const { children } = Astro.props;
---

<div className="">
  <div className={cn("flex flex-col justify-center px-8", navClassName)}>
    <nav
      className={cn(
        "flex items-center justify-between w-full relative mx-auto pt-8 pb-8 sm:pb-16 text-gray-900",
      )}
    >
      <a href="#skip" className="skip-nav"> Skip to content </a>
      <div className="ml-[-0.60rem] text-base">
        <a href="/" className="text-gray-900 hover:text-gray-700">Home</a>
        <a href="/posts" className="text-gray-900 hover:text-gray-700">Posts</a>
        <a href="/now" className="text-gray-900 hover:text-gray-700">Now</a>
        <a
          href="https://egghead.io/q/resources-by-paul-mcbride?af=auhexg"
          className="text-gray-900 hover:text-gray-700"
        >
          Lessons
        </a>
      </div>
      <span
        className="w-9 h-9 bg-white/50 rounded-lg flex items-center justify-center hover:ring-2 ring-gray-200 transition-all"
      >
        <!-- <RSS /> -->
      </span>
    </nav>
  </div>
  <main id="skip" className="flex flex-col justify-center">
    {children}
  </main>
  <!-- <Footer /> -->
</div>
