<footer class="grid grid-cols-main [&>*]:col-start-2 [&>*]:col-end-3 mb-8 px-8">
  <hr class="w-full border-1 border-gray-200 mb-8" />
  <div class="grid sm:grid-cols-3 justify-between mb-8 space-y-3 sm:space-y-0">
    <ul class="text-sm text-gray-600 list-none space-y-3">
      <li>
        <a href="/" class="hover:text-emerald-500 transition-colors"> Home </a>
      </li>
      <li>
        <a href="/posts" class="hover:text-emerald-500 transition-colors">
          Posts
        </a>
      </li>
      <li>
        <a href="/now" class="hover:text-emerald-500 transition-colors">
          Now
        </a>
      </li>
      <li>
        <a
          href="/feed"
          class="hover:text-emerald-500 transition-colors"
          target="_blank"
        >
          Feed
        </a>
      </li>
    </ul>

    <ul class="text-sm text-gray-600 list-none space-y-3">
      <li>
        <a
          href="https://indieweb.social/@ThePaulMcBride"
          target="_blank"
          rel="noopener noreferrer me"
          aria-label="Follow me on Mastodon"
          class="hover:text-emerald-500 transition-colors"
        >
          Mastodon
        </a>
      </li>
      <li>
        <a
          href="https://github.com/thepaulmcbride"
          target="_blank"
          rel="noopener noreferrer me"
          aria-label="Visit my GitHub"
          class="hover:text-emerald-500 transition-colors"
        >
          Github
        </a>
      </li>
      <li>
        <a
          href="https://youtube.com/@thepaulmcbride"
          target="_blank"
          rel="noopener noreferrer me"
          aria-label="Visit my YouTube channel"
          class="hover:text-emerald-500 transition-colors"
        >
          Youtube
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/thepaulmcbride"
          target="_blank"
          rel="noopener noreferrer me"
          aria-label="Follow me on Twitter"
          class="hover:text-emerald-500 transition-colors"
        >
          Twitter
        </a>
      </li>
    </ul>
    <ul class="text-sm text-gray-600 list-none space-y-3">
      <li>
        <a
          class="hover:text-emerald-500 transition-colors"
          href="https://egghead.io/q/resources-by-paul-mcbride?af=auhexg"
          target="_blank"
          rel="noopener noreferrer me"
        >
          Lessons
        </a>
      </li>
      <li>
        <a
          class="hover:text-emerald-500 transition-colors"
          href="mailto:hello@paulmcbride.com"
        >
          Email
        </a>
      </li>
      <li>
        <a class="hover:text-emerald-500 transition-colors" href="/colophon">
          Colophon
        </a>
      </li>
    </ul>
  </div>
  <div class="flex justify-between w-full text-base text-gray-600">
    <span>{`Paul McBride \u00A9 ${new Date().getFullYear()}`}</span>
  </div>
</footer>
